.search {
    --color: #DFE1E5;

    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    outline: 1px solid var(--color);
    border-radius: 2rem;
    cursor: text;
    transition: 0.2s ease-in-out;
}

.search input[type='text'] {
    display: flex;
    flex: 1;
    padding: 0.25rem;
    margin-left: 0.5rem;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.search_icon {
    --size: 16px;
    --color: #707579;
    --scale: 1;

    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--scale, 1));
    width: var(--size);
    height: var(--size);
    margin-bottom: calc(var(--size) * 0.1875);
    border: calc(var(--size) / 6) solid;
    border-radius: 100%;
    color: var(--color);
    transition: 0.2s ease-in-out;
}

.search_icon::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--size) * 0.625);
    left: calc(var(--size) * 0.75);
    width: calc(var(--size) / 6);
    height: calc(var(--size) / 2);
    border-radius: calc(var(--size) * 0.1875);
    box-sizing: border-box;
    background: currentColor;
    transform: rotate(-45deg);
}

.cancel_icon {
    --size: 24px;
    --color: #707579;
    --scale: 1;

    display: block;
    position: relative;
    width: var(--size);
    height: var(--size);
    border: calc(var(--size) / 11) solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(var(--scale, 1));
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.cancel_icon::after,
.cancel_icon::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--size) / 2.75);
    left: calc(var(--size) / 22);
    width: calc(var(--size) / 1.375);
    height: calc(var(--size) / 11);
    background-color: var(--color);
    border-radius: calc(var(--size) / 4.4);
    box-sizing: border-box;
    transform: rotate(45deg);
}

.cancel_icon::after {
    transform: rotate(-45deg);
}

.search:focus-within {
    outline: 2px solid var(--color);
}

.search:focus-within,
.search:focus-within .search_icon,
.search:focus-within .cancel_icon {
    --color: red;
}